.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

.chat-window {
  position: fixed;
  bottom: 82px !important;
  left: 20px;
  width: 250px;
  height: 380px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: auto;
  padding: 10px;
  z-index: 9999;
}

.chat-window h4 {
  font-size: 15px;
  color: #007bff;
  padding: 3px 8px;
  margin-bottom: 6px;
  text-align: left;
  border-radius: 5px;
}
.chat-window h6 {
  font-size: 14px;
  text-align: center;
}
.chat-window input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.chat-window button {
  background-color: #333;
  color: white;
  width: 20px;
  height: 30px;
  position: absolute;
  right: 7px;
  border-radius: 5px;
}

.passenger-list li {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.passenger-list li p {
  font-size: 16px;
  padding: 0px;
}

.passenger-list li span {
  font-size: 14px;
  color: green;
  font-weight: bold;
  margin-top: -3px;
  display: list-item;
}
.chat-button {
  display: none;
}

@media screen and (max-width: 800px) {

  .chat-window {
    width: 92% !important;
    bottom: 10px !important;
  }

  .chat-button {
    display: block;
  }
  .logut-button {
    margin-top: -120px !important;
  }

  .css-1lhqsmn-MuiPaper-root-MuiAppBar-root { min-height:  40px !important;}

}

@media (min-width: 0px) {
  @media (orientation: landscape) {
      .css-6g765d-MuiToolbar-root {
          min-height: auto;
      }
  }
}